<main class="user-register" title="Criar conta">
  <app-header [secondaryLogo]="false"></app-header>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-sm-2 col-sm-8 offset-lg-4 col-lg-4">
        <h3 class="user-register__title">Crie uma conta</h3>
        <form
          id="user-register"
          #form="ngForm"
          class="user-login__form"
          action=""
        >
          <app-input
            name="name"
            label="Nome completo"
            placeholder="Digite seu nome completo"
            class="user-register__input"
          ></app-input>
          <app-input
            name="email"
            label="E-mail"
            placeholder="Digite seu e-mail"
            class="user-register__input"
          >
          </app-input>
          <app-input
            name="confirm-email"
            label="Confirmar e-mail"
            placeholder="Digite seu e-mail"
            class="user-register__input"
          ></app-input>
          <app-input
            name="senha"
            label="Senha"
            placeholder="Digite sua senha"
            class="user-register__input"
          ></app-input>
          <app-input
            name="confirm-senha"
            label="Confirmar senha"
            placeholder="Digite sua senha"
            class="user-register__input"
          ></app-input>
          <app-radio-input
            name="role"
            label="Escolha uma opção"
            [options]="[
              { label: 'Aluno', value: 'aluno' },
              { label: 'Professor', value: 'professor' }
            ]"
          ></app-radio-input>
          <app-button
            path="/student/"
            content="Cadastrar"
            width="100%"
            [colors]="{ background: '#e8db3f', color: '#322c2c' }"
          ></app-button>
        </form>
      </div>
    </div>
  </div>
</main>
